@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
  height:100vh;
}

.searchbar-text{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.searchbar-wrapper{
  width: 807px;
  height: 65px;
  left: 236px;
  top: 307px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  background: #FAFAFA;
  border: 0px solid #E0E0E0;
  mix-blend-mode: normal;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: x-large;
}

.searchbar-input{
  width: 760px;
  height: 65px;
  left: 236px;
  top: 307px;
  
  background: #FAFAFA;
  color: #333333;
}

.searchbar-icon{
  width: 30px;
  height: 30px;
  left: 236px;
  top: 307px;
  margin-left: 20px;
  margin-right: 20px;
}

.button{
  width: 206px;
  height: 52px;
  background: #F05A46;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FAFAFA;
  animation-duration:  0.5s;
}
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
