@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.searchbar-text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.searchbar-wrapper {
  width: 807px;
  height: 65px;
  left: 236px;
  top: 307px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: #fafafa;
  border: 0px solid #e0e0e0;
  mix-blend-mode: normal;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: x-large;
}

.searchbar-input {
  width: 760px;
  height: 65px;
  left: 236px;
  top: 307px;

  background: #fafafa;
  color: #333333;
}

.searchbar-icon {
  width: 30px;
  height: 30px;
  left: 236px;
  top: 307px;
  margin-left: 20px;
  margin-right: 20px;
}

.button {
  width: 206px;
  height: 52px;
  background: #f05a46;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fafafa;
  animation-duration: 0.5s;
}

.red-text {
  color: #f05a46;
}

.login-panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 475px;
  height: 577px;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.login-panel-title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
  margin-top: 40px;
}

.login-panel-input {
  background: #fafafa;
  /* center and slightly smaller than login-panel-input-box */
  width: 360px;
  height: 64px;
  left: 42px;
  top: 316px;
}

.login-panel-input-box {
  width: 392px;
  height: 64px;
  left: 42px;
  top: 316px;

  background: #fafafa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
