[package]
name = "server"
version = "0.0.0"
edition = "2021"
publish = false

[workspace]
members = ["crates/*"]

[dependencies]
anyhow = "1.0.71"
async-mongodb-session = { version = "3.0.0", default-features = false }
async-session = "3.0.0"
axum = { version = "0.6.18", features = ["headers", "json"] }
axum-server = "0.5.1"
base64 = "0.21.2"
chrono = "0.4.26"
clap = { version = "4.3.8", features = ["derive"] }
db = { path = "crates/db" }
dotenv = "0.15.0"
env_logger = "0.10.0"
extractor = { path = "crates/extractor" }
http = "0.2.9"
log = "0.4.19"
model = { path = "crates/model" }
oauth2 = "4.4.1"
rayon = "1.7.0"
reqwest = { version = "0.11.16", default_features = false, features = ["blocking", "json", "rustls-tls"] }
serde = { version = "1.0.164", features = ["derive"] }
serde_json = "1.0.99"
sha2 = "0.10.7"
tokio = { version = "1.28.2", features = ["rt-multi-thread", "macros"] }
tower-http = { version = "0.4.1", features = ["cors", "fs"] }
url = "2.4.0"
walkdir = "2.3.3"

[dev-dependencies]
hyper = { version = "0.14", features = ["server"] }
pretty_assertions = "1.3.0"
tempfile = "3.7.0"
tower = "0.4.13"
